html, body {
  min-height: 100%;
}

body {
  background-color: #ffd391;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f90));
  background-image: -webkit-linear-gradient(top, #fff, #f90);
  background-image:    -moz-linear-gradient(top, #fff, #f90);
  background-image:     -ms-linear-gradient(top, #fff, #f90);
  background-image:      -o-linear-gradient(top, #fff, #f90);
  margin: 0;
  text-align: center;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

.sat {
  background-color: #e8c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#cd3a93));
  background-image: -webkit-linear-gradient(top, #fff, #cd3a93);
  background-image:    -moz-linear-gradient(top, #fff, #cd3a93);
  background-image:     -ms-linear-gradient(top, #fff, #cd3a93);
  background-image:      -o-linear-gradient(top, #fff, #cd3a93);	
}

.gre {
  background-color: #ce8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#8bae3e));
  background-image: -webkit-linear-gradient(top, #fff, #8bae3e);
  background-image:    -moz-linear-gradient(top, #fff, #8bae3e);
  background-image:     -ms-linear-gradient(top, #fff, #8bae3e);
  background-image:      -o-linear-gradient(top, #fff, #8bae3e);
}

button#sat {
  color: #cd3a93;
}
button#gre {
  color: #8bae3e;
}



img {
  border: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
}

a {
  text-decoration: underline;
  color: #382074;
}
a:hover {
  text-decoration: none;
  color: #382074;
}
a:active {
  text-decoration: none;
  color: orange;
}
a.buttons, a.buttons:hover, a.buttons:active {
  text-decoration: none;
}
.black {
  color: #222;
}
#nextbg {
  background: url("../images/NextButton.png") no-repeat center bottom;
  text-align: left;
  width: 128px;
  height: 33px;
  cursor: pointer;
  margin-left: 70px;
  color: #f90;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #888;
  -webkit-box-shadow: 2px 2px 3px #888;
}
#nextbg:hover {
  color: #88deff;
  -moz-box-shadow: 2px 2px 3px #0078a6;
  -webkit-box-shadow: 2px 2px 3px #0078a6;
}
#nextword {
  text-shadow: 1px 1px 1px #000;
  margin-left: 24px;
}

#header {
  text-align: center;
}
#buttonarea {
  text-align: center;
}
#buttonarea a {
  font-size: 4em;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
#buttonarea button {
  display: inline;
  padding: 0 10px;
  margin: 20px;
}

.outlined {
  margin-top: 15px;
  border: 5px solid #000;
  background-color: #fff;
  border-radius: 21px;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-box-shadow: 5px 5px 7px #888;
  -webkit-box-shadow: 5px 5px 7px #888;
}

#content {
  max-width: 830px;
  width: 90%;
  padding: 0;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}





#side {
  padding: 10px;
  padding-top: 5px;
  text-align: center;
  font-variant: small-caps;
}

button#reset {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 0;
  margin-left: 3px;
  font-size: 0.7em;
  display: inline;
}

button#upgrade {
  padding: 3px;
  margin-left: 8px;
  font-size: 0.8em;
  display: inline;
}


#progressbg {
  background-color: #f60;
  width: 224px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#progressmid {
  background-color: #ffe1ce;
  width: 222px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#progressbar {
  background-color: #f60;
  height: 23px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#progresstext {
  color: #000;
  font-variant: small-caps;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  bottom: 23px;
  z-index: 2;
  margin-bottom: 2px;
  margin-top: 7px;
}



#filler {
  width: 200px;
  color: #fff;
  text-shadow: none;
}



#choicestable {
  border-collapse: collapse;
  margin: 1px 15px;
  width: 95%;
  text-align: left;
}
#choicestable b {
  font-size: 1.2em;
}
#choicestable td {
  height: 40px;
  padding: 1px;
}
#choicestable tr {
  border: 4px solid #fff;
}
#choicestable button {
  width: 200px;
  padding: 3px;
}
#choicestable td.buttons {
  width: 220px;
}
#choicestable span {
  margin-right: 3px;
}
#report {
  width: 100%;
  height: 50px;
  text-shadow: 1px 1px 1px #aaa;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
#report td {
  height: 50px;
}
#grade {
  font-weight: bold;
  width: 250px;
}
.question h3 {
  color: #382074;
  margin-top: 0;
  margin-bottom: 5px;
  font-variant: small-caps;
  font-size: 1.4em;
  background-color: #d5f3ff;
  text-align: center;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  -moz-border-radius-topright: 17px;
  -moz-border-radius-topleft: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-top-left-radius: 17px;
  padding: 9px 0px;
  text-shadow: 1px 1px 1px #aaa;
}
.correctrow {
  background-color: #d5f3ff;
  font-weight: bold;
}
.next:after {
  content:url(../images/purple_arrow.png);
  position: relative;
  top: 7px;
  left: 8px;
}





#label {
  font-variant: small-caps;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #f60;
  font-size: 22px;
  position: relative;
  bottom: 3px;
}



#upgradeUrl {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #f60;
}


#footer {
  margin: 30px auto 15px;
  color: #fff;
}
#footer p {
  margin: 0;
  text-align: center;
  font-size: 11px;
}
#footer a {
  text-decoration: underline;
  color: #fff;
}
#footer a:hover {
  text-decoration: none;
  color: #382074;
}
#footer a:active {
  text-decoration: none;
  color: orange;
}

#wordslist {
  text-align: left;
  margin: 0 15px;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.announcement-banner {
  background: #ffd391;
  font-size: 20px;
  padding: 5px;
}

#bannercloser {
	position: absolute;
	right: 10px;
}

.announcement-banner.disabled {
  display: none;
}
